version: 2.1

orbs:
  node: circleci/node@5.0.2

jobs:
  test:
    docker:
      - image: cimg/node:lts-browsers
    steps:
      - checkout
      
      # Install Python for BDD tests
      - run:
          name: Install Python and dependencies
          command: |
            sudo apt-get update
            sudo apt-get install -y python3 python3-pip
            pip3 install -r requirements.txt
      
      # Run BDD tests
      - run:
          name: Run BDD tests
          command: |
            python -m behave
      
      # Install Newman for Postman collection tests
      - run:
          name: Install Newman
          command: |
            sudo npm install -g newman
      
      # Run Postman collection tests
      - run:
          name: Run Postman Collection Tests
          command: |
            newman run ./postman/room_api_tests.postman_collection.json

workflows:
  version: 2
  test-and-deploy:
    jobs:
      - test
